@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Erişim Engellendi!</h1>
<h2 class="text-danger">Bu sayfaya erişmek için yeterli izinlere sahip değilsiniz.</h2>

<a asp-action="Index" asp-controller="Home">Ana Sayfa</a>