@model MvcProject.DTO.LoginRequest
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>WELCOME</h1>
	@{
		foreach (var obj in @Context.User.Claims)
		{
			<p>@obj.Value</p>
		}
	}
</div>
