@{
	ViewData["Title"] = "Adming Ana Sayfa";
}

<div class="text-center">
	<h1>Merhaba Admin</h1>
	<hr />
	<div class="list-group">
		<a class="list-group-item list-group-item-info list-group-item-action" asp-controller="Majors" asp-action="Index">Ana Bilim Dalları</a>
		<a class="list-group-item list-group-item-info list-group-item-action" asp-controller="Policlinics" asp-action="Index">Poliklinikler</a>
		<a class="list-group-item list-group-item-info list-group-item-action" asp-controller="Doctors" asp-action="Index">Doktorlar</a>
	</div>

</div>
